<h1>Chefs#new</h1>

<%= simple_form_for @chef do |f| %>
  <%= f.input :cuisine %>
  <%= f.input :description, as: :text %>
  <%= f.input :chef_postcode %>
  <%= f.input :price %>
  <%= f.input :location_range %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
