<div class="container">
  <h2 class= "mt-3"> <%= @chef.user.first_name %> <%= @chef.user.last_name %> </h2>

    <div class="main-image-container">
      <div class="left-main-image-container">
       <%= image_tag "https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=953&q=80", alt: "alttext", class: 'image-main-large'%>
      </div>
      <div class="right-main-image-container">
       <%= image_tag "https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", alt: "alttext", class: 'image-main-small'%>
       <%= image_tag "https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", alt: "alttext", class: 'image-main-small'%>
      </div>
    </div>
  <div class="mt-3">
    <h3>Chef Summary</h3>
    <p> <%= @chef.description %> </p>
  </div>
  <!-- avatar of chef -->
  <!-- image of food-->
  <!-- description  -->
  <p> ---------------------------------</p>
  <h3>Cuisine</h3>
  <p> <%= @chef.cuisine %></p>


  <!-- price   -->
   <!-- reviews   -->
  <!--book me button  -->
  <div class="container">
   <div class="row justify-content-end">
      <div class = "card shadow p-3 mb-5 bg-white rounded">
        <h4><strong> £<%= @chef.price %></strong> / per person</h4>
        <p> - - - - - - - - - - - -  - - -</p>
        <%= simple_form_for @booking do |f|%>
          <%= f.input :date %>
          <%= f.hidden_field :price, value: @chef.price %>
          <%= f.hidden_field :chef_id, value: @chef.id %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
