<div class="container">
  <h2 class= "mt-3"> <%= @chef.user.first_name %> <%= @chef.user.last_name %> </h2>
  <p>
  <% @chef.rating.times do  %>
    <span>★</span>
  <% end %> -- Location: <%= @chef.chef_postcode %></p>



    <div class="main-image-container">
      <div class="left-main-image-container">
       <% if @chef.photos[0].present? %>
        <%= cl_image_tag @chef.photos[0].key, alt: "alttext", class: 'image-main-large'%>
       <% else %>
        <%= image_tag "https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=953&q=80", alt: "alttext", class: 'image-main-large'%>
       <% end %>
      </div>
      <div class="right-main-image-container">
        <% if @chef.photos[1].present? %>
          <%= cl_image_tag @chef.photos[1].key, alt: "alttext", class: 'image-main-small'%>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", alt: "alttext", class: 'image-main-small'%>
        <% end %>
        <% if @chef.photos[2].present? %>
          <%= cl_image_tag @chef.photos[2].key, alt: "alttext", class: 'image-main-small'%>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", alt: "alttext", class: 'image-main-small'%>
        <% end %>
      </div>
    </div>


  <!-- price   -->
   <!-- reviews   -->
  <!--book me button  -->
  <div class="container">
   <div class="row justify-content-end mt-3">
    <div class="col-6">
      <div class="mt-3">
        <% if @chef.user.photo.attached? %>
            <%=  cl_image_tag @chef.user.photo.key, class: "avatar mb-2" %>
        <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", class="avatar" />
        <% end %>
        <h3 class="mt-3">Chef Summary</h3>
        <p> <%= @chef.description %> </p>
      </div>
      <p> ---------------------------------</p>
      <h3>Cuisine</h3>
      <p> <%= @chef.cuisine %></p>
      <a class="btn btn-primary p-2"href="/chefs">Return to 'Browse Chefs'</a>
    </div>
    <div class = "card shadow p-3 mb-5 bg-white rounded price-box col-6">
        <h4><strong> £</strong><strong class="price-per-person"><%= @chef.price %></strong> / per guest</h4>
        <p> - - - - - - - - - - - -  - - -</p>
        <%= simple_form_for @booking do |f|%>
          <%= f.input :date %>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Number of Guests:</label>
          <select class="form-control guests" id="scripts">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option">10</option>
            <option">11</option>
            <option">12</option>
          </select>
        </div>

          <%= f.hidden_field :price, value: @chef.price %>
          <%= f.hidden_field :chef_id, value: @chef.id %>

          <%= f.button :submit, class: "d-none", id: "confirm-booking" %>
        <% end %>
        <button id="sweet-alert-demo" class="btn btn-primary">Create Booking </button>
        <div id="total-price"></div>
    </div>
  </div>


  <div class="container reviews p-0">
  <% if @chef.bookings.count > 0 %>
    <h3>Reviews For <%= @chef.user.first_name %> <%= @chef.user.last_name %></h3>
    <% @chef.bookings.each do |b| %>
      <div class="review my-3 p-3">
      <p><%= b.review.content %></p>
      <p>Rating: <% b.review.rating.times do  %><span>★</span><% end %></p>
      <p><strong>- <%= b.user.first_name %> <%= b.user.last_name %></strong></p>
      </div>
      <% end %>
  <% else %>
    <h3>Reviews</h3>
    <p>There are no reviews currently for this Chef</p>
    <% end %>


  <div class="featured-chef-container">
  </div>
</div>
